.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('https://images.pexels.com/photos/6438721/pexels-photo-6438721.jpeg?auto=compress&cs=tinysrgb&w=1600');     
    background-repeat: no-repeat;
    background-size:cover;
    height: 1000px;
    padding: 45px;
    opacity: 0.9;
    padding-bottom: 0;
    

}

.about-container h3 {
    color: rgb(0, 0, 0);
    font-size: 3rem;
    background-color: #323232;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    
}
.about-content {
    height: 700px;
    width: 1200px;
    background-color: #3f3838;
    opacity:0.87;
    color:white;
    padding-bottom: 5px;
    margin: 100px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}
p {
    font-size: 2.5rem;
    line-height: 1.5
}

.about-content a {
    color:whitesmoke
}
.about-content a:hover {
    color:beige
}

@media(max-width: 1360px){
    .about-content{
        height: 500px;;
        width: 550px; 
        margin-left: 0;
        margin-right: 0;
        overflow: scroll;
        
      
    }
    p {
        font-size:35px;
       
    }

}
@media(max-width: 700px){
    .about-content{
        height: 300px;;
        width: 350px; 
        margin-left: 0;
        margin-right: 0;
        overflow: scroll;
        
      
    }
    p {
        font-size:25px;
    }

}
@media(max-width: 350px){
    
    .about-content{
        height: 150px;;
        width: 200px; 
        margin-left: 0;
        margin: 0;
        
      
      
    }
    p {
        font-size: 25px;
    }

}

