.footer {
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border-top: 1px solid whitesmoke;
    opacity:0.6;
    position: fixed;
    background:black
}
.footer__icon{
    font-size: 33px;
    color: whitesmoke;
    cursor: pointer;
  
    
}
.footer  p {
    font-size: 17px;
    color: whitesmoke;
    opacity:0.5;
    font-style: italic;
}
.footer  h6 {
    font-size: 17px;
    color: whitesmoke;
    opacity:0.5;
    font-family: cursive ;
    font-style: italic;
}
.footer  button {
    background: transparent;
    outline: none;
    border: 0;
    border-radius: 55%;
   

}
.footer  button:hover{
    background: rgb(250, 2, 2);
    transition: all 0.3s linear;
   
   
}